body{
    background-color:rgb(233, 252, 255) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(138, 35, 161)
}
h1{
    color:rgb(132, 62, 148)
}


img{
      margin-left: 32%;
}

a{
    text-decoration: none;
}